table {
  width: 100%;
}

div {
  margin-top: 50px;
  padding: 10px;
}

mat-card {
  padding: 10px;
  margin: 10px;
  top: 10px;
}

mat-card-title {
  text-align: center;
  color: rgb(20, 173, 20);
}
